@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  font-family: 'Poppins', sans-serif; }

h1 {
  font-size: 2.5rem;
  font-weight: 700; }

h2 {
  font-size: 1.8rem;
  font-weight: 600; }

h3 {
  font-size: 1.5rem;
  font-weight: 800; }

h4 {
  font-size: 1.2rem;
  font-weight: 600; }

h5 {
  font-weight: 1rem;
  font-weight: 400; }

h6 {
  color: #D8D8D8; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.carousel-box {
  position: relative; }
  .carousel-box-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
